*{
     font-family: 'Lato', sans-serif;
    font-weight: bold;
}

body  {
	background: whitesmoke;
	color: #333;
	
}

.container {
	display: block;
	width: 400px;
    margin: 0 auto;
}

ul {
	margin: 0;
	padding: 0;
  
}

li {
	list-style: none;
    color: #747704;
}

#complete li {
	text-decoration: line-through;
	}


#top {
	margin-top: 30px;
}



